.main-container {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #d60000;
}
.main-container h1, .main-container h2 {
  color: green;
  text-decoration: underline;
  text-decoration-color: blue;
  text-align: center;
}
.main-container h2 {
  text-decoration: none;
  padding: 1rem;
  margin: auto;
  border: inherit;
}
.main-container .main-section {
  display: flex;
  flex-direction: row;
  margin: 0.9375rem;
}
.main-container .main-section article {
  color: blue;
  border: 0.0625rem solid green;
  font-size: 1rem;
  padding: 0.3125rem;
  text-align: center;
  display: flex;
  flex-basis: auto;
}
.main-container .main-section article:last-of-type {
  border-left: none;
}
.main-container .main-section article:first-of-type {
  border-right: none;
}
.main-container .main-section article .text-red {
  color: red;
}
.main-container .main-section article:nth-child(2) {
  border-right: none;
}
.main-container .numbers-boxes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 0;
  margin: 0.9375rem;
}
.main-container .numbers-boxes-container .numbers-box {
  border: 0.0625rem solid #d60000;
  margin-right: 1.25rem;
  margin-bottom: 0.3125rem;
  width: 2.8125rem;
  height: 2.8125rem;
}
.main-container .numbers-boxes-container .numbers-box:last-of-type {
  margin-right: 0;
}
.main-container .footer-section {
  color: green;
  border: 0.0625rem solid blue;
  font-size: 1.5rem;
  padding: 0.3125rem;
  text-align: center;
  display: block;
  margin: 0.9375rem;
}

.fs-1rem {
  font-size: 1rem;
}

.fs-2rem {
  font-size: 2rem;
}

.fs-3rem {
  font-size: 3rem;
}

.numbers-box:nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}

.numbers-box:nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}

.numbers-box:nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
}

.numbers-box:nth-child(4) {
  background-color: #cccccc;
  color: #333333;
}

.numbers-box:nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
}

.numbers-box:nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}

.numbers-box:nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
}

.numbers-box:nth-child(8) {
  background-color: #999999;
  color: #666666;
}

.numbers-box:nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
}

.numbers-box:nth-child(10) {
  background-color: gray;
  color: gray;
  background-color: blue;
  color: red;
}

.numbers-box:nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
}

.numbers-box:nth-child(12) {
  background-color: #666666;
  color: #999999;
}

.numbers-box:nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
}

.numbers-box:nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}

.numbers-box:nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
}

.numbers-box:nth-child(16) {
  background-color: #333333;
  color: #cccccc;
}

.numbers-box:nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
}

.numbers-box:nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}

.numbers-box:nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}

/*# sourceMappingURL=style.css.map */
